.product img{
    height: 200px;
    width: 300px;
    padding: 20px;
}
.product h2{
    text-align: center;
}
.product {
    border: 2px solid gray;
    background-color: rgb(138, 96, 96);
    color: white;
    text-align: center;
}
.product button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(41, 73, 62);
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}