.cart {
    background-color: orange;
    height: 100vh;
}
.cart h3 {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}
.cart-product {
    padding-left: 20px;
    border: 2px solid gray;
    margin-bottom: 10px;
}